/* common shared styles */
* {
    font-family: 'Open Sans', sans-serif;
    /*For all fonts*/
}

body {
    margin: 0;
}

/*for all descriptions part*/
.description {
    color: #757575;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 30px;
}

  /*For all buttons*/
.btn-primary {
    border: 0;
    border-radius: 10px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    margin-right: 5px;
}

/* Header */
.header {
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    /*multiple background*/
    background-repeat: no-repeat;
    background-position: bottom right, left;
    /*position of both bg*/
    background-size: 800px 400px, 100px 600px;
    /*width and height for both bg*/
}

/* primary text color */
.text-primary {
    color: #FD6E0A;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.nav-title {
    font-size: 40px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: blue;
}

/*Banner*/
.banner {
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-image {
    height: 500px;
    width: 750px;
    margin-bottom: 0;
    margin-left: 500px;

}

.banner-content {
    max-width: 800px;
}

.banner-greet {
    font-size: 30px;
    font-weight: 500;
    color: #474747;
    margin-bottom: 10px;
}

.banner-title {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Main section styles */
main{
    max-width: 1140px;
    margin: auto;
}

/* About me section styles */
.about{
    background-color: #FFF8F3;
    margin-top: 100px;
    padding: 100px;
}
.section-title{
    color: #181818;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.about-info{
    color: #757575;
}